<style>
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Client Reminder System</span>
</div>
<!-- <router-outlet (deactivate)='onDeactivate($event)'></router-outlet> -->
<div class="container">
  <router-outlet></router-outlet>
  <!-- <router-outlet name="login"></router-outlet>
  <router-outlet name="historyreminder"></router-outlet>
  <router-outlet name ="postreminder"></router-outlet>
  <router-outlet name = "reminderlist"></router-outlet> -->
</div>